.container .game_holder {

  padding: 10px;
  margin: 0px;
  overflow: auto; /* Change this from hidden to auto to make the container scrollable */
  width: 95%;
  height: 95%;
  background-color: black;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);

  /* Modify these lines to use flexbox layout */
  display: flex;
  flex-direction: row; /* Change this from column to row */
  flex-wrap: wrap; /* Add this line to allow the items to wrap to the next line */
  align-items: flex-start;
  justify-content: center; /* Change this from flex-start to center */
  gap: 10px; /* Change this from 20px to 10px */
}

.container .gameFrame {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  border-radius: 15px;
}

.container .proxy_holder {

  padding: 10px;
  margin: 0px;
  overflow: auto; /* Change this from hidden to auto to make the container scrollable */
  width: 95%;
  height: 95%;
  background-color: black;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);

  /* Modify these lines to use flexbox layout */
  display: flex;
  flex-direction: row; /* Change this from column to row */
  flex-wrap: wrap; /* Add this line to allow the items to wrap to the next line */
  align-items: flex-start;
  justify-content: center; /* Change this from flex-start to center */
  gap: 10px; /* Change this from 20px to 10px */
}

.container .proxyFrame {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  border-radius: 15px;
}

.container .btn-holder {
  width: auto;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .fullscreen-btn,
.container .resize-btn,
.container .cloak-btn {
  background-color: black;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  font-size: 30px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  /* Add these lines to center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}


.container .resize-btn:hover, .container .fullscreen-btn:hover, .container .cloak-btn:hover {
  transform: scale(1.1);
}





.container .game_container .card1 {
  cursor: pointer;
  width: 250px;
  height: 375px;
  background-color: #303030;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
  transition: all 0.3s ease;
  z-index: 1;
}

.container .game_container .card1:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
  z-index: 2;
}

.container .game_container .card1 img {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}

.container .game_container .card1 .gameinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 120px;
  background-color: #303030;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}

.container .game_container .card1 .gameinfo .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.container .game_container .card1 .gameinfo .tag {
  text-align: center;
  width: auto;
  height: auto;
  font-size: 18px;
  border-radius: 5px;
  padding: 2px;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.container .game_container .card1 .title {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: 'Lexend' sans-serif;
  font-weight: 900;
}

.container .proxy-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add a 10px gap between the elements */
  width: 50%;
}

.container .proxy-input {
  text-align: center;
  font-size: 20px;
  width: calc(100% - 60px);
  height: 50px;
  background-color: black;
  border-radius: 5px;
  border: solid 3px white;
  color: white;
  outline: none;
  text-decoration: none;
  font-family: 'Nanum Gothic Coding', sans-serif;
}

.container .proxy-launch {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 5px;
  border: solid 3px lime;
  color: white;
  outline: none;
  text-decoration: none;
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
}

.container .proxy-launch img{
  top: 30%;
  width: 70%;
  height: 70%;
  color: white;
  -webkit-filter: invert(1);
  filter: invert(1);
}
